*{
    margin: 0;
    padding: 0;
}

.main *{
box-sizing: border-box;

border-collapse: collapse;
}

.main{
background-color: yellow;

width: auto;
height: 100vh;

display: grid;
grid-template-columns: 1fr 6fr;
gap:10px;
}

.sidebar{
background-color: red;
color: white;
display: grid;
grid-template-rows: 1fr 5fr 5fr;
gap: 10px;
}

.logo{
display: grid;
grid-template-columns: 1fr 3fr;
font-size: 28px;
text-align: center;
place-items: center;
}

.hyperlinks-top ul,
.hyperlinks-bottom ul{
display: grid;
gap: 20px;
place-content: center;
list-style: none;
padding: 0;
}

.right-side{
background-color: white;
display: grid;
grid-template-rows: 0.5fr 4fr;
}

.header{
display: grid;
grid-template-rows: 0.5fr 0.5fr;
}
.header-top{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
}

.search-bar{
display: grid;
grid-template-columns: 1fr 4fr;
align-items: center;
}

.search-bar input{
background-color: rgb(173, 169, 169);
height: 100%;
border-radius: 5px;
}

.user-profile{
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
}

.header-bottom{
display: grid;
grid-template-columns: 1fr 4fr;
align-items: center;
}

.avatar-n-greeting{
margin-left: 20%;
}

.buttons-header{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
height: 50%;
place-items: center;
}

.content{
display: grid;
grid-template-columns: 4fr 1fr;
grid-template-rows: 0.1fr 4fr 4fr;
gap: 20px;

padding:0 10px 40px 10px;

background-color:violet;
}
.content::before{
content: 'Your projects';
grid-row:1/2;
font-weight: bold;
}

.projects{
grid-row: 2/4;

display: grid;
grid-template-columns: repeat(auto-fit,
 minmax(250px, 1fr));
gap: 30px;

background-color: bisque;
}
.card{
background-color: aquamarine;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 0.5fr 1fr 0.5fr;
place-content: center left;
padding: 5px 10px;
}
.card h4{
    height: 0px;
}

.anno{
grid-row: 2/3;
background-color: brown;
position: relative;
}

.anno::before,
.trending::before{
content: 'Announcements';
position: absolute;
top: -20px;
}

.trending::before{
content: 'Trending';
}

.trending{
background-color: blue;
color: black;

grid-row: 3/4;
position: relative;
}